
//$primary-color: #0db4b9;
/*$deepPurple-color: #1d1145;
$TrapperKeeperGreen: #0db4b9;
$ModernPinkBackpack: #e76d89:
$PinkBoot: #f2a1a1;*/

//greys from santori analytics
/*$Grey-color: #EEEEEE;
$darkerGrey-color: #E5E4E9;
$lightBlackHeader-color: #444444;
$BrightPink: #E5325C;
$BBlightPinkColor: #FEDFC3;*/


//Mel Haynes Colour scheme
//$Blue-color: #2779A8;
//$BlueOpacity-color: #5E9ABE;

//2022 Alterations
$LightPink-color: #f28f80;
$LightGreen-color: #a7bda6;
$VerylightGrey-color: #FAFAFA;
$lightGrey-color: #C6C6C6;
$Grey-color: #4B4B4B;

