/*$deepPurple-color: #1d1145;
$TrapperKeeperGreen: #0db4b9;
$ModernPinkBackpack: #e76d89:
$PinkBoot: #f2a1a1;*/
/*$Grey-color: #EEEEEE;
$darkerGrey-color: #E5E4E9;
$lightBlackHeader-color: #444444;
$BrightPink: #E5325C;
$BBlightPinkColor: #FEDFC3;*/
/*NavBar Styling*/
/*$deepPurple-color: #1d1145;
$TrapperKeeperGreen: #0db4b9;
$ModernPinkBackpack: #e76d89:
$PinkBoot: #f2a1a1;*/
/*$Grey-color: #EEEEEE;
$darkerGrey-color: #E5E4E9;
$lightBlackHeader-color: #444444;
$BrightPink: #E5325C;
$BBlightPinkColor: #FEDFC3;*/
nav, .nav-item {
  font-family: "Poppins" !important, sans-serif; }

nav.navbar {
  padding: 0 1rem !important; }

.collapse .navbar-collapse {
  background-color: white;
  padding: 0px;
  height: 122px; }

@media only screen and (max-width: 992px) {
  .collapse .navbar-collapse {
    height: auto;
    padding-bottom: 6px; } }

#MenuExpander {
  background-color: white;
  padding: 0px;
  height: 65px;
  display: none; }

@media only screen and (min-width: 992px) {
  li.nav-item a:hover, #dropDownMenu:hover {
    background-color: #4B4B4B;
    opacity: 1;
    color: white !important; } }

@media only screen and (max-width: 991px) {
  li.nav-item a:hover, #dropDownMenu:hover {
    padding-right: 10px;
    padding-left: 10px;
    height: auto;
    width: auto;
    background-color: #4B4B4B;
    opacity: 1;
    color: white !important; } }

.navbar-toggler {
  padding-top: 10px; }

.dropdown-menu {
  border: none; }
  .dropdown-menu li a {
    padding-right: 10px;
    padding-left: 10px;
    width: 95px !important;
    min-width: 95px !important; }
  .dropdown-menu li {
    padding-right: 10px;
    padding-left: 10px;
    width: 95px !important;
    min-width: 95px !important; }

.dropdown-menu li a:hover {
  background-color: #4B4B4B;
  opacity: 1;
  color: white !important; }

li.nav-item a, #dropDownMenu {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Poppins" , sans-serif; }

/*, #dropDownMenu*/
@media only screen and (min-width: 992px) {
  li.nav-item > a {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 20px;
    color: black; } }

li.dropdown > a {
  font-size: 16px;
  color: black !important; }

a.navbar-brand {
  color: black;
  font-family: Poppins !important;
  font-weight: bold;
  font-size: 40px; }
  a.navbar-brand img {
    width: 320px;
    height: 40px;
    margin-top: 10px; }

a.navbar-brand:hover {
  opacity: 1;
  color: black; }

@media only screen and (max-width: 1075px) {
  a.navbar-brand {
    font-size: 24px !important;
    margin-right: 0px; }
    a.navbar-brand img {
      padding-top: 10px;
      width: 300px;
      margin-top: 0px; } }

@media only screen and (max-width: 500px) {
  a.navbar-brand img {
    width: 240px; } }

ul.dropdown-menu > li > a, #dropDownMenu, dropdown, li .nav-item a {
  font-family: "Poppins" , sans-serif; }

.dropdown-toggle::after {
  margin-right: .5em; }

li .dropdown-toggle {
  margin-right: -.5em; }

body {
  overflow-y: hidden;
  overflow-y: hidden !important;
  margin-bottom: 274px;
  font-family: "Poppins", sans-serif; }

@media only screen and (max-width: 575px) {
  /*body {
    margin-bottom: 400px;
    }*/ }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */ }

html, body {
  color: black;
  font-family: 'Source Sans Pro' !important, sans-serif;
  font: 'Source Sans Pro' !important, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: white !important;
  /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient($darkerGrey-color, white); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient($darkerGrey-color, white);*/
  /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient($darkerGrey-color, white);*/
  /* For Firefox 3.6 to 15 */
  /*background: linear-gradient($darkerGrey-color, white);*/
  /* Standard syntax */ }

html {
  position: relative; }

.contentSection {
  padding-top: 1.5rem !important;
  padding-bottom: 2.5rem !important; }

.grey-background {
  background-color: #ebebeb; }

* {
  border-radius: 0 !important; }

.hoverEffect:hover {
  opacity: 0.7; }

/*FIREFOX BUG*/
.carousel-inner {
  height: 100% !important; }

.img-responsive {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto; }

/*SAFARI BUG IMG */
.safari-mobile-hack {
  display: flex;
  display: -webkit-box;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column; }

p.two-column-layout {
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 24px;
  margin-bottom: 0px; }

@media only screen and (max-width: 767px) {
  p, p.two-column-layout {
    padding-left: 12px;
    padding-right: 12px; } }

.text18 {
  font-size: 18px; }

h2 {
  font-size: 40px;
  font-family: "Poppins" , sans-serif;
  line-height: 1.5;
  padding: 40px 0;
  padding-bottom: 60px;
  text-align: center; }

h3 {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem; }

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  color: black !important;
  margin-bottom: 0px; }

h5 {
  line-height: 1.5;
  padding-left: 12px;
  padding-right: 12px; }

.pageCaption {
  background-color: #2779A8;
  font-family: 'Poppins' !important, sans-serif;
  color: white;
  font-weight: 300 !important;
  font-size: 50px !important;
  text-align: center !important;
  line-height: 1.5;
  padding: 36px;
  padding-top: 24px;
  padding-bottom: 24px; }
  .pageCaption h3 {
    padding: 80px 200px;
    color: white !important;
    font-size: 50px !important;
    line-height: 1.5; }

@media only screen and (max-width: 1400px) {
  .pageCaption h3 {
    font-size: 30px !important;
    padding: 40px 100px; } }

@media only screen and (max-width: 767px) {
  .pageCaption h3 {
    font-size: 20px !important;
    padding: 20px; } }

h3.subheading, h3.subheading2 {
  color: black !important;
  text-align: center !important;
  line-height: 1.5;
  padding: 18px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important; }

/*General*/
a:focus, a {
  /*color: $deepPurple-color;*/
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  text-decoration: none;
  /*text-decoration: underline;*/ }

li a:focus, li a {
  color: black;
  opacity: 1;
  text-decoration: none; }

#footerMailTo {
  color: black; }

#footerMailTo:hover {
  opacity: 0.7; }

.nopadding, .element, .quoteMark {
  padding: 0 !important;
  margin: 0 !important; }

.RestrictWidth {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px; }

.CenterAndRestrictWidth {
  margin: 0 auto !important;
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px; }

.center {
  margin: 0 auto;
  display: block; }

ul, ol, li {
  list-style: none !important; }

.variable-padding {
  padding-left: 50px;
  padding-right: 50px; }

@media only screen and (max-width: 768px) {
  .variable-padding {
    padding-left: 20px;
    padding-right: 20px; } }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px;
  padding-top: 40px;
  background-color: #FAFAFA; }

.privacy-policy {
  text-decoration: underline; }

.privacy-policy:hover {
  text-decoration: none; }

.footerContainer {
  height: 240px;
  overflow: auto; }

.SocialMediaIcons {
  padding-top: 10px;
  padding-left: 100px; }

@media only screen and (max-width: 768px) {
  .SocialMediaIcons {
    padding-left: 0;
    margin: 0 auto;
    width: 110px; }
  .contactInfo {
    text-align: center;
    padding: 20px; }
  /*.footer{
        padding-top: 100px;
        height: 400px;
    }*/ }

/*#SocialMediaIcons{
    //float: right; 
    height: 100%; padding-top: 55px; padding-left: 30px;//padding-bottom: 150px;
}*/
#FooterContactInfo {
  font-size: 18px;
  margin-top: 30px;
  /*height: 100%; padding-top: 60px; padding-left: 30px;*/ }

#bendandoInfo {
  font-size: 12px;
  width: 100%;
  text-align: center;
  position: relative;
  top: -5px; }

#product-component-06a00e1cfad {
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 30px; }

@media only screen and (max-width: 767px) {
  /*#SocialMediaIcons{
        padding-top: 20px;

    }*/
  #FooterContactInfo {
    margin-top: 12px; } }

/*center anything!!!*/
.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: arial;
  line-height: 1.8em;
  text-align: center; }

.SocialMediaIcon {
  margin: 6px; }

.SocialMediaIcon:hover {
  opacity: 0.7; }

.YourExperience, .YourExperience p, .YourExperience h2 {
  line-height: 1.55; }

.YourExperience h2 {
  font-weight: 500 !important; }

/*HOME*/
.button-container-center {
  margin: 0 auto;
  height: 50px;
  width: 280px;
  overflow: auto; }

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block; }

#carousel .item img {
  width: 100%; }

/*fade carousel*/
body .carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity .75s ease-in-out; }

body .carousel-fade .carousel-item.active {
  opacity: 1; }

#GeorgiasQualifications {
  width: 200px;
  color: white !important;
  top: 40%;
  left: 85%;
  transform: translateY(-50%); }

.carouselQualificationsName {
  font-size: 28px; }

@media screen and (max-width: 1400px) {
  #GeorgiasQualifications {
    transform: translateY(-25%);
    top: 20%;
    left: 75%; } }

@media screen and (max-width: 1000px) {
  #GeorgiasQualifications {
    left: 70%;
    transform: translateY(-25%);
    top: 25%; }
  #GeorgiasQualifications p {
    font-size: 18px;
    transform: translateY(-25%);
    left: 55%;
    margin-bottom: 10px; }
  p.carouselQualificationsName {
    font-size: 22px !important; } }

#SimonsQualifications {
  width: 200px;
  color: white !important;
  top: 40%;
  transform: translateY(-50%);
  left: 5%; }

@media screen and (max-width: 1000px) {
  #SimonsQualifications {
    top: 30%; }
  #SimonsQualifications p {
    font-size: 18px;
    margin-bottom: 10px; } }

.button-services {
  background-color: #2779A8;
  color: white;
  text-align: center;
  height: 230px;
  line-height: 230px;
  font-size: 44px;
  font-family: 'Poppins';
  border: 5px solid white;
  cursor: pointer; }

.button-services:hover {
  opacity: 0.75; }

@media screen and (max-width: 1500px) {
  .button-services {
    font-size: 26px; } }

@media screen and (max-width: 1000px) {
  .button-services {
    font-size: 20px; } }

@media screen and (max-width: 767px) {
  .button-services {
    font-size: 32px; } }

#AboutUs {
  line-height: 1.5;
  display: none;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 48px;
  padding-top: 6px; }

@media screen and (max-width: 767px) {
  #AboutUs {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 64px; } }

/*Testimonials Carousel*/
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 40px;
  height: 40px; }

/*carousel images*/
.SimonAndGeorgiaHomeImage, .SimonAndGeorgiaHomeImage:after {
  content: url("Images/Home/2560/SimonAndGeorgia.jpg"); }

.GeorgiaHomeImage, .GeorgiaHomeImage:after {
  content: url("Images/Home/2560/Georgia.jpg"); }

.SimonHomeImage, .SimonHomeImage:after {
  content: url("Images/Home/2560/Simon.jpg"); }

.CookingTogetherImage, .CookingTogetherImage:after {
  content: url("Images/Home/2560/CookingTogether.jpg"); }

@media screen and (max-width: 1920px) {
  .SimonAndGeorgiaHomeImage, .SimonAndGeorgiaHomeImage:after {
    content: url("Images/Home/1920/SimonAndGeorgia.jpg"); }
  .GeorgiaHomeImage, .GeorgiaHomeImage:after {
    content: url("Images/Home/1920/Georgia.jpg"); }
  .SimonHomeImage, .SimonHomeImage:after {
    content: url("Images/Home/1920/Simon.jpg"); }
  .CookingTogetherImage, .CookingTogetherImage:after {
    content: url("Images/Home/1920/CookingTogether.jpg"); } }

@media screen and (max-width: 1336px) {
  .SimonAndGeorgiaHomeImage, .SimonAndGeorgiaHomeImage:after {
    content: url("Images/Home/1366/SimonAndGeorgia.jpg"); }
  .GeorgiaHomeImage, .GeorgiaHomeImage:after {
    content: url("Images/Home/1366/Georgia.jpg"); }
  .SimonHomeImage, .SimonHomeImage:after {
    content: url("Images/Home/1366/Simon.jpg"); }
  .CookingTogetherImage, .CookingTogetherImage:after {
    content: url("Images/Home/1366/CookingTogether.jpg"); } }

#TrainingLink:hover, #PreHabReHabLink:hover, #NutritionLink:hover {
  cursor: pointer;
  background-color: white; }

#TrainingLink img, #TrainingLink img:after, #TrainingLink img::after {
  padding-top: 0.5rem; }

#PreHabReHabLink img, #PreHabReHabLink img:after, #PreHabReHabLink img::after {
  padding-top: 0.5rem; }

#NutritionLink img, #NutritionLink img:after, #NutritionLink img::after {
  padding-top: 0.5rem; }

.LinksText {
  margin: 0 auto;
  width: 300px;
  padding: 12px; }

@media screen and (max-width: 300px) {
  .LinksText {
    width: auto !important;
    padding: 0px; } }

@media screen and (max-width: 1200px) {
  #TrainingLink img, #PreHabReHabLink img, #NutritionLink img {
    width: 250px;
    height: 250px; }
  .LinksText {
    width: 250px; } }

@media screen and (max-width: 767px) {
  #TrainingLink img, #PreHabReHabLink img, #NutritionLink img {
    width: 200px;
    height: 200px; }
  .LinksText {
    width: 200px; } }

#testimonialsCarousel {
  height: 200px; }

@media screen and (max-width: 825px) {
  #testimonialsCarousel {
    height: 235px; } }

@media screen and (max-width: 560px) {
  #testimonialsCarousel {
    height: 260px; } }

@media screen and (max-width: 445px) {
  #testimonialsCarousel {
    height: 295px; } }

@media screen and (max-width: 380px) {
  #testimonialsCarousel {
    height: 315px; } }

@media screen and (max-width: 319px) {
  #testimonialsCarousel {
    height: 340px; } }

@media screen and (max-width: 275px) {
  #testimonialsCarousel {
    height: 365px; } }

#testimonialsCarousel:hover {
  opacity: 0.7;
  cursor: pointer; }

#RecipesHeader:hover {
  cursor: pointer;
  opacity: 0.7; }

/*Training-Video*/
video {
  width: 100% !important;
  height: auto !important;
  display: block;
  position: relative !important; }

/*PREHABREHAP*/
/*carousel images*/
.SimonPressingGeorgiasShoulders, .SimonPressingGeorgiasShoulders:after {
  content: url("Images/PreHabRehab/SiPressingGeorgiasShoulders.jpg"); }

.SimonBandWorkSam, .SimonBandWorkSam:after {
  content: url("Images/PreHabRehab/SiBandWorkSam.jpg"); }

.SimonStretching, .SimonStretching:after {
  content: url("Images/PreHabRehab/SimonStretching.jpg"); }

.SimonRehabBen, .SimonRehabBen:after {
  content: url("Images/PreHabRehab/SimonBandWorkBen.jpg"); }

.GeorgiaTrainingEmma, .GeorgiaTrainingEmma:after {
  content: url("Images/PreHabRehab/GeorgiaTrainingEmma.jpg"); }

/*.carousel-fade .carousel-inner .carousel-item {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}*/
/*HEALTHY RECIPES*/
@media screen and (min-width: 767px) {
  .mainMeals {
    border-right: 1px solid black !important; } }

.HealthyRecipeSummary {
  padding: 30px !important; }

.HealthyRecipeSummary p {
  text-align: center; }

.btn-sample {
  color: #ffffff;
  background-color: #4D3F7F;
  background-color: #1d1145;
  border-color: #130269; }

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: #ffffff;
  background-color: #1d1145;
  background-color: #4D3F7F;
  border-color: #130269; }

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none; }

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: #611BBD;
  border-color: #130269; }

.btn-sample .badge {
  color: #611BBD;
  background-color: #ffffff; }

.btn-sample2 {
  color: #ffffff;
  background-color: #2779A8;
  border-color: #2779A8; }

.btn-sample2:hover,
.btn-sample2:focus,
.btn-sample2:active,
.btn-sample2.active,
.open .dropdown-toggle.btn-sample2 {
  color: #ffffff;
  background-color: #5E9ABE;
  border-color: #5E9ABE; }

.btn-sample2:active,
.btn-sample2.active,
.open .dropdown-toggle.btn-sample2 {
  background-image: none; }

.btn-sample2.disabled,
.btn-sample2[disabled],
fieldset[disabled] .btn-sample2,
.btn-sample2.disabled:hover,
.btn-sample2[disabled]:hover,
fieldset[disabled] .btn-sample2:hover,
.btn-sample2.disabled:focus,
.btn-sample2[disabled]:focus,
fieldset[disabled] .btn-sample2:focus,
.btn-sample2.disabled:active,
.btn-sample2[disabled]:active,
fieldset[disabled] .btn-sample2:active,
.btn-sample2.disabled.active,
.btn-sample2[disabled].active,
fieldset[disabled] .btn-sample2.active {
  background-color: #611BBD;
  border-color: #130269; }

.btn-sample2 .badge {
  color: #611BBD;
  background-color: #ffffff; }

.btn-sample3 {
  color: white;
  background-color: #444444;
  border-color: #444444; }

.btn-sample3:hover,
.btn-sample3:focus,
.btn-sample3:active,
.btn-sample3.active,
.open .dropdown-toggle.btn-sample3 {
  color: white;
  background-color: #707070;
  border-color: #707070; }

.btn-sample3:active,
.btn-sample3.active,
.open .dropdown-toggle.btn-sample3 {
  background-image: none; }

.btn-sample3.disabled,
.btn-sample3[disabled],
fieldset[disabled] .btn-sample3,
.btn-sample3.disabled:hover,
.btn-sample3[disabled]:hover,
fieldset[disabled] .btn-sample3:hover,
.btn-sample3.disabled:focus,
.btn-sample3[disabled]:focus,
fieldset[disabled] .btn-sample3:focus,
.btn-sample3.disabled:active,
.btn-sample3[disabled]:active,
fieldset[disabled] .btn-sample3:active,
.btn-sample3.disabled.active,
.btn-sample3[disabled].active,
fieldset[disabled] .btn-sample3.active {
  background-color: #444444;
  border-color: black; }

.btn-sample3 .badge {
  color: #611BBD;
  background-color: #444444; }

.arrowButton:hover {
  opacity: 0.7; }

/*TESTIMONIALS*/
.testimonial {
  padding: 24px;
  font-weight: 300; }
  .testimonial p {
    text-align: center;
    display: none;
    padding-bottom: 0px; }
  .testimonial h5 {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 24px; }
  .testimonial h4 {
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 12px; }

@media screen and (max-width: 767px) {
  .testimonial {
    padding: 0px;
    /*h5{margin: 0 auto; display:block; text-align: center; padding-bottom: 24px; color: $lightBlackHeader-color !important;}*/ } }

.testimonialDark {
  padding: 24px;
  color: white !important;
  font-weight: 300; }
  .testimonialDark p {
    text-align: center;
    display: none;
    padding-bottom: 0px;
    color: black !important;
    color: white !important; }
  .testimonialDark h5 {
    color: white !important;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-bottom: 24px; }

@media screen and (min-width: 1200px) {
  .testimonial, .testimonialDark {
    padding-left: 72px !important;
    padding-right: 72px !important; } }

.quoteMark {
  font-size: 7em;
  display: block !important;
  margin: 0 auto;
  color: #444444;
  position: relative;
  top: -40px; }

@media screen and (max-width: 767px) {
  .quoteMark {
    font-size: 3.5em;
    top: 0px; } }

.testimonialDark, .testimonial {
  padding-top: 24px;
  padding-bottom: 12px;
  max-width: 900px;
  margin: 0 auto; }

/*HEALTHY RECIPIES*/
.RecipeDiv {
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px; }

@media screen and (max-width: 991px) {
  .RecipeDiv {
    padding: 12px; } }

.meal-category {
  color: black;
  padding: 0px; }

#hideoverflow {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 0px; }

#outer {
  position: relative;
  left: 50%;
  float: left; }

#inner {
  position: relative;
  left: -50%;
  float: left; }

/*CONTACT*/
input[type=text] {
  max-width: 450px; }

input[type=text].form-control, input[type=email].form-control {
  max-width: 300px; }

input[type=number].form-control {
  max-width: 60px; }

label.checkbox-label {
  display: block;
  padding-left: 20px !important;
  text-indent: -15px; }

input[type=checkbox] {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden; }
