<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT testimonialsItem ANY>
<!ATTLIST testimonialsItem id ID #REQUIRED>
<!ELEMENT testimonialsPage ANY>
<!ATTLIST testimonialsPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT titleSEO ANY>
<!ATTLIST titleSEO id ID #REQUIRED>
<!ELEMENT training ANY>
<!ATTLIST training id ID #REQUIRED>
<!ELEMENT stress ANY>
<!ATTLIST stress id ID #REQUIRED>
<!ELEMENT corporate ANY>
<!ATTLIST corporate id ID #REQUIRED>
<!ELEMENT nutrition ANY>
<!ATTLIST nutrition id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1055" key="0e94b801-e625-40ca-a218-1b627c151610" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-02-13T14:02:27" updateDate="2020-02-20T18:09:43" nodeName="HOME" urlName="home" path="-1,1055" isDoc="" nodeType="1052" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1051" nodeTypeAlias="homePage" isPublished="true">
    <pageTitle><![CDATA[Home]]></pageTitle>
    <descriptionMetadata><![CDATA[Beyond Balance: Simon Alebiosu and Georgia Lennard Elite Personal Trainers]]></descriptionMetadata>
    <training id="1078" key="5cb3c95d-aa25-4662-bae5-f7d14f410031" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2020-02-14T19:56:05" updateDate="2020-02-14T19:56:05" nodeName="Training" urlName="training" path="-1,1055,1078" isDoc="" nodeType="1077" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1076" nodeTypeAlias="training" isPublished="true">
      <pageTitle><![CDATA[Training]]></pageTitle>
      <descriptionMetadata><![CDATA[Our structured, smart training allows you to optimise your health and stay injury free.]]></descriptionMetadata>
    </training>
    <stress id="1081" key="dfd534e5-80b2-4df3-a585-7219877b45ab" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2020-02-17T11:23:17" updateDate="2020-02-24T12:12:54" nodeName="Stress" urlName="stress" path="-1,1055,1081" isDoc="" nodeType="1080" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1079" nodeTypeAlias="stress" isPublished="true">
      <pageTitle><![CDATA[Stress]]></pageTitle>
      <descriptionMetadata><![CDATA[Understanding and managing stress]]></descriptionMetadata>
      <topMobileImage><![CDATA[umb://media/a0ff5c43a72c4f37812246dab4194d53]]></topMobileImage>
      <topCarouselPicture1><![CDATA[umb://media/7b3eee55df2c43e4afd18c40cb02446d]]></topCarouselPicture1>
      <topCarouselPicture3><![CDATA[umb://media/7b96739a2e5f4ead943c5a21681de079]]></topCarouselPicture3>
      <topCarouselPicture4><![CDATA[umb://media/efca014153c54ce592d305c305fcc3c8]]></topCarouselPicture4>
      <topCarouselPicture5><![CDATA[umb://media/82808933708841a4bb32ce4724ca3dcb]]></topCarouselPicture5>
      <topCarouselPicture2><![CDATA[umb://media/7f2fdbaf83664bb4a7c6835291ef8fcc]]></topCarouselPicture2>
      <fullWidthArea1Content><![CDATA[<p>A bit of stress is a good thing. It gets us up in the morning and gives us our drive. However too much stress is a problem. Especially when it is chronic. And that’s the thing, stress isn’t going away so we must find ways to manage it and in the process we become more resilient. Chronic stress leads to a higher risk of injury, increased inflammation and stiffness in the body. We see clients who present with random aches and pains when they are really stressed out or busy at work. The pain may feel like an injury to the client, but in fact it’s just extreme muscle tension and inflammation due to stress. The pain can easily be sorted out with the correct stretching and training patterns for that individual.</p>]]></fullWidthArea1Content>
      <fullWidthArea1Title><![CDATA[Stress. Friend or foe?]]></fullWidthArea1Title>
      <area2Column1TextBelowPicture><![CDATA[<p>Through working with a vast number of clients we have developed a unique approach to rehabilitation. Our aim is to restore balance to the body's system and allow you to become injury/pain free.</p>
<p>Our method allows clients to recover fully and surpass levels of strength and fitness previously held.</p>]]></area2Column1TextBelowPicture>
      <area2Column1Title><![CDATA[Rehabilitation]]></area2Column1Title>
      <area2Column2TextBelowPicture><![CDATA[<p>We identify faulty movement patterns and weak links in the body and correct them before an injury occurs. Essentially this is injury prevention meaning you don’t have to take time out from doing the things you love.</p>
<p>By working ‘pre-hab’ into your training sessions, we ensure that you can give your best, be your strongest and avoid the aches and pains that so many people accept as part of everyday life.</p>]]></area2Column2TextBelowPicture>
      <area2Column2Title><![CDATA[Injury Prevention]]></area2Column2Title>
    </stress>
    <corporate id="1086" key="6a406272-56a4-4591-985c-3b16200fd9e2" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2020-02-17T11:32:29" updateDate="2020-02-24T13:14:27" nodeName="Corporate" urlName="corporate" path="-1,1055,1086" isDoc="" nodeType="1085" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1084" nodeTypeAlias="corporate" isPublished="true">
      <pageTitle><![CDATA[Corporate Wellness]]></pageTitle>
      <descriptionMetadata><![CDATA[Supporting businesses investing in the health of their employees]]></descriptionMetadata>
      <bannerText><![CDATA[Supporting Businesses investing in the health of their employees]]></bannerText>
      <area2Column1TextBelowPicture><![CDATA[<p><span>Our one-day workshops or talks are designed to give staff an understanding of how small, specific changes to their eating and exercise habits will have a profound effect on their lives and can be extremely powerful in how they feel and perform on a daily basis.</span></p>]]></area2Column1TextBelowPicture>
      <area2Column1Picture><![CDATA[umb://media/2e820efe55f04a6dafab9cd40755fb6f]]></area2Column1Picture>
      <area2Column2Picture><![CDATA[umb://media/9641076d59744b69b31c6bc0041fee8d]]></area2Column2Picture>
      <area2Column2Title><![CDATA[Healthy Eating]]></area2Column2Title>
      <area2Column2TextBelowPicture><![CDATA[<p><span>If on-site staff kitchens or canteens are available, we enjoy working to create simple, nutritionally balanced recipes to ensure that employees are getting the nutrients they need to consistently perform well at work.</span></p>]]></area2Column2TextBelowPicture>
      <area2Column1Title><![CDATA[Workshops]]></area2Column1Title>
      <mainDesktopImage><![CDATA[umb://media/268228a432b8472c825d13c1e49b2c9e]]></mainDesktopImage>
      <mainMobileImage><![CDATA[umb://media/fcdbf3ff38414dfa8df5c8240ed291b4]]></mainMobileImage>
      <fullWidthArea1Title><![CDATA[Corporate Wellness]]></fullWidthArea1Title>
      <fullWidthArea1Content><![CDATA[<p>Our aim is to support businesses that have made the decision to invest in the health of their employees. We will form a tri-lateral partnership with the business and employees to create a workplace culture of healthy living, strength and dynamism. Our aims are to improve the health and wellness of employees, which in turn will reduce absenteeism, increase productivity and improve staff morale. This allows a business to maintain the drive, passion and strength that have allowed them to succeed in the past to carry on into the future.</p>
<p>Sharing the science behind eating and exercising efficiently will allow staff to make informed decisions about their health. We give successful businesses simple but highly effective systems to improve the health, mind set and productivity of their staff with clear business benefits.</p>
<p>We provide monthly or quarterly Corporate Wellness days where staff members are booked in with Nutritional Therapist (Georgia Lennard), Strength, Rehabilitation &amp; Conditioning Coach (Simon Alebiosu) and/or Osteopath (Harley Jaffar). Each employee receives a personalised report and realistic plan tailored around their work and home demands.</p>]]></fullWidthArea1Content>
    </corporate>
    <nutrition id="1094" key="940da402-ff3c-44bf-9816-65b0e0f6b543" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2020-02-17T20:30:57" updateDate="2020-02-17T20:30:57" nodeName="Nutrition" urlName="nutrition" path="-1,1055,1094" isDoc="" nodeType="1091" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1090" nodeTypeAlias="nutrition" isPublished="true">
      <pageTitle><![CDATA[Nutrition]]></pageTitle>
      <descriptionMetadata><![CDATA[Beyond Balance Thyroid nutritional therapy]]></descriptionMetadata>
    </nutrition>
    <testimonialsPage id="1125" key="a7a5ba6a-e93b-481f-a923-c27610bd3024" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2020-02-20T11:59:30" updateDate="2020-02-20T18:10:11" nodeName="Testimonials" urlName="testimonials" path="-1,1055,1125" isDoc="" nodeType="1121" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1120" nodeTypeAlias="testimonialsPage" isPublished="true">
      <pageTitle><![CDATA[Testimonials]]></pageTitle>
      <descriptionMetadata><![CDATA[Our clients testimonials]]></descriptionMetadata>
      <testimonialsItem id="1126" key="dd27b7d5-d792-4546-8980-ab72fb565ea1" parentID="1125" level="3" creatorID="0" sortOrder="0" createDate="2020-02-20T12:01:49" updateDate="2020-02-20T12:01:54" nodeName="Testimonial1" urlName="testimonial1" path="-1,1055,1125,1126" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Sam George]]></clientName>
        <mainText><![CDATA[Having tried physiotherapy for more than 6 months but still being in pain I was recommended Beyond-Balance.]]></mainText>
        <additionalText><![CDATA[Having tried physiotherapy for more than 6 months but still being in pain I was recommended Beyond-Balance. Thanks to Simon for his amazing support in getting me back to fitness. I am so happy that I can now run again and have just spent two weeks hiking up mountains in Canada pain free. Plus I’m the fittest and strongest I’ve ever been.]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1127" key="d09a5657-90a7-417d-b874-e18045d80897" parentID="1125" level="3" creatorID="0" sortOrder="1" createDate="2020-02-20T12:06:14" updateDate="2020-02-20T13:37:42" nodeName="Testimonial2" urlName="testimonial2" path="-1,1055,1125,1127" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Constance]]></clientName>
        <mainText><![CDATA[It’s a shame I had to hurt my back before I considered taking personal coaching sessions. I think it’s a great investment which I should have made much sooner! It has really changed my life!]]></mainText>
        <moreAdditionalText><![CDATA[It’s a shame I had to hurt my back before I considered taking personal coaching sessions. I think it’s a great investment which I should have made much sooner! It has really changed my life!]]></moreAdditionalText>
        <additionalText><![CDATA[Just over a year ago I was crying in front of the consultant at the hospital because I was in so much pain and I thought my back was irreparably damaged following years of bad posture, two births and badly carrying kids. And now I can hold my 15kg 4-year-old son up in the air as he runs up to me when I pick him up from nursery. I feel so strong and I know that if I keep it up I’m looking at a much better future, health and mental wise, for when I grow old. ]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1129" key="5760e6f8-8214-473f-b552-5a0990039592" parentID="1125" level="3" creatorID="0" sortOrder="2" createDate="2020-02-20T13:39:57" updateDate="2020-02-20T13:39:57" nodeName="Testimonial3" urlName="testimonial3" path="-1,1055,1125,1129" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <mainText><![CDATA[I cannot thank them enough for their encouragement, strength, patience and genuine desire to help people. I have had a few personal trainers in life but none as good as Beyond-Balance. It is a different level of training.]]></mainText>
        <moreAdditionalText><![CDATA[With their extensive background knowledge, all my issues were sorted out and I am stronger and healthier than ever before. I cannot thank them enough for their encouragement, strength, patience and genuine desire to help people. I have had a few personal trainers in life but none as good as Beyond-Balance. It is a different level of training.]]></moreAdditionalText>
        <additionalText><![CDATA[I was told by numerous doctors that I would have to live with lower back and shoulder pain, which in turn gave me headaches and terrible posture. This was until I started training with Beyond-Balance. It has been a revelation and transformation for my body and mind!]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1130" key="785ac8ec-4f6a-4440-9e68-6c446e623198" parentID="1125" level="3" creatorID="0" sortOrder="3" createDate="2020-02-20T13:51:35" updateDate="2020-02-20T13:51:49" nodeName="Testimonial4" urlName="testimonial4" path="-1,1055,1125,1130" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Nicky Bindler - Competitive Master Swimmer]]></clientName>
        <mainText><![CDATA[Simon is a great trainer and a super person and I recommend him wholeheartedly.]]></mainText>
        <moreAdditionalText><![CDATA[In turn, he has helped me stay focused on my long-term fitness goals which involve Master’s swim training two times per week and competitive races. Simon is a great trainer and a super person and I recommend him wholeheartedly.]]></moreAdditionalText>
        <additionalText><![CDATA[I have seen results exactly where I wanted to: improved strength, endurance and speed.]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1131" key="a05049c1-4c84-4ed7-8536-0b100983dcb0" parentID="1125" level="3" creatorID="0" sortOrder="4" createDate="2020-02-20T13:54:14" updateDate="2020-02-20T13:54:26" nodeName="Testimonial5" urlName="testimonial5" path="-1,1055,1125,1131" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Kerry Albers]]></clientName>
        <mainText><![CDATA[Georgia has gone over and beyond what i have asked her for and the results speak for themselves.]]></mainText>
        <moreAdditionalText><![CDATA[Georgia was also able to advise me on a new eating plan which has literally been 'life changing'. Georgia has gone over and beyond what i have asked her for and the results speak for themselves.It's been so noticeable that my partner is now on the plan and seeing amazing results too. ]]></moreAdditionalText>
        <additionalText><![CDATA[I had been struggling with a knee injury for 6 months, which was not improving and i had got to the stage where it was even painful to walk. Georgia showed me various exercises to improve my strength and correct my muscle imbalances. After each week there was a noticeable difference, but i began running again prematurely and inevitably injured myself again. Georgia helped me get back to running injury free, without her training i don't think i would be running today. She continues to support and]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1132" key="6d2b3adb-bc89-48cc-a465-6438ae27a440" parentID="1125" level="3" creatorID="0" sortOrder="5" createDate="2020-02-20T13:56:58" updateDate="2020-02-20T13:58:41" nodeName="Testimonial6" urlName="testimonial6" path="-1,1055,1125,1132" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Klaudiusz]]></clientName>
        <mainText><![CDATA[In conclusion, my body completely transformed, which not only improved the way I look, but also increased my level of confidence and self-esteem hugely.]]></mainText>
        <moreAdditionalText><![CDATA[Within a relatively short time I lost more than 12 kilograms. My body fat dropped from 23.9% to 12%. I also gained 5 kilograms of lean muscle and my fitness level drastically improved. In conclusion, my body completely transformed, which not only improved the way I look, but also increased my level of confidence and self-esteem hugely.]]></moreAdditionalText>
        <additionalText><![CDATA[After years of going to gym and not achieve any satisfactory results, I decided to give it one more shot and I asked for the help of Beyond-Balance.  I was provided with a tailored work out plan perfectly suited to my busy work schedule.]]></additionalText>
      </testimonialsItem>
    </testimonialsPage>
  </homePage>
</root>