<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT testimonialsItem ANY>
<!ATTLIST testimonialsItem id ID #REQUIRED>
<!ELEMENT testimonialsPage ANY>
<!ATTLIST testimonialsPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT titleSEO ANY>
<!ATTLIST titleSEO id ID #REQUIRED>
<!ELEMENT training ANY>
<!ATTLIST training id ID #REQUIRED>
<!ELEMENT stress ANY>
<!ATTLIST stress id ID #REQUIRED>
<!ELEMENT corporate ANY>
<!ATTLIST corporate id ID #REQUIRED>
<!ELEMENT nutrition ANY>
<!ATTLIST nutrition id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1055" key="0e94b801-e625-40ca-a218-1b627c151610" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2020-02-13T14:02:27" updateDate="2020-02-13T14:02:27" nodeName="HOME" urlName="home" path="-1,1055" isDoc="" nodeType="1052" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1051" nodeTypeAlias="homePage" isPublished="true">
    <descriptionMetadata><![CDATA[Beyond Balance: Simon Alebiosu and Georgia Lennard Elite Personal Trainers]]></descriptionMetadata>
    <pageTitle><![CDATA[HOME]]></pageTitle>
    <training id="1078" key="5cb3c95d-aa25-4662-bae5-f7d14f410031" parentID="1055" level="2" creatorID="0" sortOrder="0" createDate="2020-02-14T19:56:05" updateDate="2020-02-14T19:56:05" nodeName="Training" urlName="training" path="-1,1055,1078" isDoc="" nodeType="1077" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1076" nodeTypeAlias="training" isPublished="true">
      <pageTitle><![CDATA[Training]]></pageTitle>
      <descriptionMetadata><![CDATA[Our structured, smart training allows you to optimise your health and stay injury free.]]></descriptionMetadata>
    </training>
    <stress id="1081" key="dfd534e5-80b2-4df3-a585-7219877b45ab" parentID="1055" level="2" creatorID="0" sortOrder="1" createDate="2020-02-17T11:23:17" updateDate="2020-02-17T11:23:17" nodeName="Stress" urlName="stress" path="-1,1055,1081" isDoc="" nodeType="1080" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1079" nodeTypeAlias="stress" isPublished="true">
      <pageTitle><![CDATA[Stress]]></pageTitle>
      <descriptionMetadata><![CDATA[Understanding and managing stress]]></descriptionMetadata>
    </stress>
    <corporate id="1086" key="6a406272-56a4-4591-985c-3b16200fd9e2" parentID="1055" level="2" creatorID="0" sortOrder="2" createDate="2020-02-17T11:32:29" updateDate="2020-02-17T11:32:29" nodeName="Corporate" urlName="corporate" path="-1,1055,1086" isDoc="" nodeType="1085" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1084" nodeTypeAlias="corporate" isPublished="true">
      <pageTitle><![CDATA[Corporate Wellness]]></pageTitle>
      <descriptionMetadata><![CDATA[Supporting businesses investing in the health of their employees]]></descriptionMetadata>
    </corporate>
    <nutrition id="1094" key="940da402-ff3c-44bf-9816-65b0e0f6b543" parentID="1055" level="2" creatorID="0" sortOrder="3" createDate="2020-02-17T20:30:57" updateDate="2020-02-17T20:30:57" nodeName="Nutrition" urlName="nutrition" path="-1,1055,1094" isDoc="" nodeType="1091" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1090" nodeTypeAlias="nutrition" isPublished="true">
      <pageTitle><![CDATA[Nutrition]]></pageTitle>
      <descriptionMetadata><![CDATA[Beyond Balance Thyroid nutritional therapy]]></descriptionMetadata>
    </nutrition>
    <testimonialsPage id="1125" key="a7a5ba6a-e93b-481f-a923-c27610bd3024" parentID="1055" level="2" creatorID="0" sortOrder="4" createDate="2020-02-20T11:59:30" updateDate="2020-02-20T12:16:14" nodeName="Testimonials" urlName="testimonials" path="-1,1055,1125" isDoc="" nodeType="1121" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1120" nodeTypeAlias="testimonialsPage" isPublished="true">
      <pageTitle><![CDATA[Testimonials]]></pageTitle>
      <descriptionMetadata><![CDATA[Our clients testimonials]]></descriptionMetadata>
      <testimonialsItem id="1126" key="dd27b7d5-d792-4546-8980-ab72fb565ea1" parentID="1125" level="3" creatorID="0" sortOrder="0" createDate="2020-02-20T12:01:49" updateDate="2020-02-20T12:01:54" nodeName="Testimonial1" urlName="testimonial1" path="-1,1055,1125,1126" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Sam George]]></clientName>
        <mainText><![CDATA[Having tried physiotherapy for more than 6 months but still being in pain I was recommended Beyond-Balance.]]></mainText>
        <additionalText><![CDATA[Having tried physiotherapy for more than 6 months but still being in pain I was recommended Beyond-Balance. Thanks to Simon for his amazing support in getting me back to fitness. I am so happy that I can now run again and have just spent two weeks hiking up mountains in Canada pain free. Plus I’m the fittest and strongest I’ve ever been.]]></additionalText>
      </testimonialsItem>
      <testimonialsItem id="1127" key="d09a5657-90a7-417d-b874-e18045d80897" parentID="1125" level="3" creatorID="0" sortOrder="1" createDate="2020-02-20T12:06:14" updateDate="2020-02-20T12:12:12" nodeName="Testimonial2" urlName="testimonial2" path="-1,1055,1125,1127" isDoc="" nodeType="1119" creatorName="Benjamin Roberts" writerName="Benjamin Roberts" writerID="0" template="1118" nodeTypeAlias="testimonialsItem" isPublished="true">
        <clientName><![CDATA[Constance]]></clientName>
        <mainText><![CDATA[It’s a shame I had to hurt my back before I considered taking personal coaching sessions. I think it’s a great investment which I should have made much sooner! It has really changed my life!]]></mainText>
        <additionalText><![CDATA[Just over a year ago I was crying in front of the consultant at the hospital because I was in so much pain and I thought my back was irreparably damaged following years of bad posture, two births and badly carrying kids. And now I can hold my 15kg 4-year-old son up in the air as he runs up to me when I pick him up from nursery. I feel so strong and I know that if I keep it up I’m looking at a much better future, health and mental wise, for when I grow old. ]]></additionalText>
      </testimonialsItem>
    </testimonialsPage>
  </homePage>
</root>