@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Corporate>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


@{
    ViewBag.Title = "Corporate Wellness";
}

@section MetaData{
    <meta name="description" content="Supporting Businesses investing in the health of their employees." />
}

<img src="~/Content/Images/Corporate/Mobile/GeorgiaConsultingEmma.jpg" style="width: 100%; height: 100%;" class="d-lg-none" alt="corporate consultation" />


<img src="~/Content/Images/Corporate/GeorgiaConsultingEmma.jpg" style="width: 100%; height: auto;" class="d-none d-lg-block" alt=" corporate consultation"/>

<div class="pageCaption">
    <h3 class="CenterAndRestrictWidth">
        Supporting Businesses investing in the health of their employees.
    </h3>
</div>
    @*<h3 class="pageCaption">Supporting Businesses investing in the health of their employees.</h3>*@


<div class="contentSection" style="background-color: white;">
    <div class="CenterAndRestrictWidth">
        <h2 style="padding-left: 24px; padding-right: 24px;">Corporate Wellness</h2>
        <p style="padding-left: 24px; padding-right: 24px;">Our aim is to support businesses that have made the decision to invest in the health of their employees. We will form a tri-lateral partnership with the business and employees to create a workplace culture of healthy living, strength and dynamism. Our aims are to improve the health and wellness of employees, which in turn will reduce absenteeism, increase productivity and improve staff morale. This allows a business to maintain the drive, passion and strength that have allowed them to succeed in the past to carry on into the future.</p>
        <p style="padding-left: 24px; padding-right: 24px;">Sharing the science behind eating and exercising efficiently will allow staff to make informed decisions about their health. We give successful businesses simple but highly effective systems to improve the health, mind set and productivity of their staff with clear business benefits.</p>
        <p style="padding-left: 24px; padding-right: 24px;">We provide monthly or quarterly Corporate Wellness days where staff members are booked in with Nutritional Therapist (Georgia Lennard), Strength, Rehabilitation & Conditioning Coach (Simon Alebiosu) and/or Osteopath (Harley Jaffar). Each employee receives a personalised report and realistic plan tailored around their work and home demands.</p>
        <p></p>
    </div>
</div>

    <div  class="contentSection grey-background" >
        <div class="CenterAndRestrictWidth nopadding row">
            <div class="col-md-6 nopadding">

                <h3 class="subheading">WorkShops</h3>

                <img src="~/Content/Images/Corporate/Workshop.jpg" style="width:100%; height: auto;padding: 30px;padding-top: 18px; padding-bottom: 12px;" />
                <p style="padding-left: 30px; padding-right: 30px;  padding-top: 24px;">Our one-day workshops or talks are designed to give staff an understanding of how small, specific changes to their eating and exercise habits will have a profound effect on their lives and can be extremely powerful in how they feel and perform on a daily basis.</p>
            </div>
            <div class="col-md-6 nopadding">
                <h3  class="subheading">Healthy Eating</h3>
                <img src="~/Content/Images/Corporate/HealthyEating.jpg" style="width:100%; height: auto;padding: 30px; padding-top: 18px; padding-bottom: 12px;" />
                <p style="padding-left: 30px; padding-right: 30px; padding-top: 24px;" >If on-site staff kitchens or canteens are available, we enjoy working to create simple, nutritionally balanced recipes to ensure that employees are getting the nutrients they need to consistently perform well at work.</p>
            </div>
        </div>
    </div>
