@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Test>
    
    
THIS IS HARD CODED INTO TEST    
    

<h2> @Umbraco.Field("firstTextArea")</h2>
    
    
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
