@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TestimonialsPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>Testimonials Page Layout actually contains nothing...</h1>